<div id="mobile-webpages">
	<div class="pages-wrapper">
		<%= link_to 'landing_goto_mobile', landing_goto_mb_path %>
		<%= link_to 'login_goto_mobile', login_goto_mb_path %>
		<%= link_to 'form_send_money_mb', form_send_money_mb_path %>
		<%= link_to 'main_mb', main_mb_path %>
		<%= link_to 'wallets_mb', wallets_mb_path %>
		<%= link_to 'password_verify_mb', password_verify_mb_path %>
	</div>
</div>